.linkClass {
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: lighter;
    padding: 3px 6px;
    background-color: #4a5568;
    text-decoration: none;
    font-size: 16px;
  }
  
  .linkClass:hover {
    background-color: #2d3748;
    text-decoration: none;
  }
  
  .linkClass:active {
    background-color: #4a5568;
  }
  
  .linkClass.rounded-sm {
    border-radius: 0.125rem;
  }

  .element {
    background-color: #4a5568;
    width: 13rem;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
  }
  .element2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0.125rem;
  }
 
  .sidebar-link {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #cbd5e0;
  }
  
  .sidebar-link.active {
    background-color: #4a5568;
    color: #ffffff;
  }